:root{
	--cpri: #f40c48;
	--csec: #00f0ff;
	--nf: #1b1b1b;
	--nm: #272727;
	--nb: #343434;
	--nw: #dddddd;
}
body{
	font-family: 'Montserrat', sans-serif !important;
	/*font-family: 'Mitr', sans-serif ;*/
}

img[src*="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"]{ display: none; }

/* ------ seccion banner ----------*/
.banner{
	min-height: 500px;
	background: var(--nf);
	padding-top: 20px;
	padding-bottom: 20px;
}
.banner h1{
	color: var(--cpri);
	font-size: 72px;
	font-weight: 600;
}
.banner p{
	color: var(--nw);
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
}
.banner p strong{
	color: var(--csec);
}

.banner img{
	padding-top: 50px;
}
.banner .proximamente{
	background: var(--csec);
	font-size: 18px;
	font-weight: 600;
	padding: 8px 35px;
	margin-bottom: 30px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0px 10px 25px 0px rgba(0,240,255,0.35);
	-moz-box-shadow: 0px 10px 25px 0px rgba(0,240,255,0.35);
	box-shadow: 0px 10px 25px 0px rgba(0,240,255,0.35);
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	border-radius:50px;
	color: #000;
}

/* --- seccion coronavirus --- */
.s-coronavirus{
	width: 100%;
	height: auto;
	background: var(--nm);
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
}
.s-coronavirus h3 a:link{
	color: var(--csec);
	text-decoration: none;
}
.s-coronavirus h3 a:hover{
	border-bottom: 3px solid var(--csec);
}
.s-coronavirus h3 a:visited{
	color: var(--csec);
}



/* ------ seccion tarjetas rapidas ----------*/
.tarjetas-r{
	padding-top: 80px;
	padding-bottom: 100px;
}
.tarjetas-r h2{
	color: var(--nb);
	font-size: 24px;
	font-weight: 400;
	
}
.tarjetas-r h2 strong{
	color: #000;
	font-weight: 600;
}
.tarjetas-r-c{
	justify-content: space-around;
	display: flex;
	margin-top: 30px;
}
.tarjetas-r-c .card{
	text-align: center;
	min-width: 255px;
	min-height: 200px;
	padding-top: 25px;
	border: none;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	-webkit-box-shadow: 0px 10px 25px 0px rgba(173,173,173,0.35);
	-moz-box-shadow: 0px 10px 25px 0px rgba(173,173,173,0.35);
	box-shadow: 0px 10px 25px 0px rgba(173,173,173,0.35);
	position: relative;
	-webkit-transition-duration: 0.8s;
	transition-duration: 0.8s;
	overflow: hidden;
}
.tarjetas-r-c .card:nth-child(4){
	background: var(--csec);
	-webkit-box-shadow: 0px 10px 25px 0px rgba(0,240,255,0.35);
	-moz-box-shadow: 0px 10px 25px 0px rgba(0,240,255,0.35);
	box-shadow: 0px 10px 25px 0px rgba(0,240,255,0.35);
	
}
.tarjetas-r-c .card:hover{
	cursor: pointer;
	background: var(--cpri);
	-webkit-transition-duration: 0.8s;
	transition-duration: 0.8s;
	color: #fff;
	-webkit-box-shadow: 0px 10px 25px 0px rgba(244,12,72,0.35);
	-moz-box-shadow: 0px 10px 25px 0px rgba(244,12,72,0.35);
	box-shadow: 0px 10px 25px 0px rgba(244,12,72,0.35);
}
.tarjetas-r-c .card:hover span{
	bottom: 15px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	
}

.tarjetas-r-c .card:hover h3{
	color: #fff;
}

.tarjetas-r-c .card h3{
	color: var(--nf);
	font-size: 18px;
	font-weight: 600;
	margin-top: 10px;
}
.tarjetas-r-c .card .etiqueta-empleos-2{
	display: none;
}
.tarjetas-r-c .card span{
	color: #fff;
	font-size: 24px;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: 10px;
	bottom: -50px;
	
}


/* --------- seccion eventos -----------------*/
.eventos{
	background: #fafafa;
	padding-top: 80px;
	padding-bottom: 80px;
	position: relative;
}
.eventos h2{
	font-size: 24px;
	font-weight: 600;
	color: var(--nf);
	margin-bottom: 32px;
}

.eventos .eventos-card{
	height: 400px;
	
}
.eventos .eventos-card .infor-eve{
	height: 100%;
	width: 100%;
	padding-top: 5%;
	padding-left: 12%;
	padding-right: 10%;
	padding-bottom: 10%;
	-webkit-box-shadow: inset 200px 0px 71px 200px rgba(0,0,0,0.5);
-moz-box-shadow: inset 200px 0px 71px 200px rgba(0,0,0,0.5);
box-shadow: inset 200px 0px 71px 200px rgba(0,0,0,0.5);

}

.eventos .eventos-card .infor-eve h4{
	font-size: 32px;
	font-weight: 600;
	color: #fff;
	background: var(--cpri);
	display: inline-block;
	padding: 5px 10px 5px 10px;
	-webkit-box-shadow: 4px 5px 0px 2px rgba(0,238,255,1);
	-moz-box-shadow: 4px 5px 0px 2px rgba(0,238,255,1);
	box-shadow: 4px 5px 0px 2px rgba(0,238,255,1);
}
.eventos .eventos-card .infor-eve p{
	margin-right: 30%;
	color: #fff;
	font-weight: 400;
	font-size: 16px;
	margin-top: 15px;
}
.eventos .eventos-card .infor-eve span{
	background: #BDE700;
	color: var(--nf);
	padding: 2px 15px;
	font-size: 18px;
	font-weight: 600;
}


/* ---- estilos segunda tarjeta ----- */
.eventos .img-eventos-i{
	height: 600px;
	width: 400px;
	background: black;
	position: absolute;
	
}


.eventos .owl-carousel .tar-eve{
	height: 220px;
	width: 400px;
	background: #1a2e35;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border-left: 8px solid var(--cpri);
	padding: 5%;
}

.eventos .owl-carousel .mas-eve{
	height: 220px;
	width: 300px;
	background: var(--cpri);
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	padding: 5%;
}
.eventos .owl-carousel .tar-eve strong{
	color: yellow;
	font-size: 12px;
	font-weight: 300;
}
.eventos .owl-carousel .tar-eve h4{
	color: var(--csec);
	font-size: 18px;
	font-weight: 600;
}
.eventos .owl-carousel .tar-eve p{
	color: #93a1a6;
	font-size: 12px;
	margin-top: 15px;
}
.eventos .owl-carousel button{
	width: 50px;
	height: 50px;
	background: var(--csec) !important;
	-moz-border-radius:10px !important;
	-webkit-border-radius:10px !important;
	border-radius:10px !important;
	outline: none;
}
.eventos .owl-carousel span{
	font-weight: 900;
	font-size: 32px;
}


/* ---- informacion destacada -----*/
.information-dest{
	padding-top: 80px;
	padding-bottom: 65px;
}
.information-dest h2{
	font-size: 24px;
	font-weight: 600;
	color: var(--nf);
	margin-bottom: 30px;
}
.information-dest .card{
	text-align: center;
}

.information-dest .card h3{
	font-size: 16px;
	font-weight: 400;
	color: var(--nm);
}
.information-dest .c1{
	font-size: 18px;
	background: var(--cpri);
	-webkit-box-shadow: 0px 10px 25px 0px rgba(244,12,72,0.35);
	-moz-box-shadow: 0px 10px 25px 0px rgba(244,12,72,0.35);
	box-shadow: 0px 10px 25px 0px rgba(244,12,72,0.35);
	padding-top: 45px;
	padding-bottom: 11px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border: none;
	-webkit-transition-duration: 0.8s;
	transition-duration: 0.8s;
}

.information-dest .c1 h3{
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	margin-top: 25px;
	-webkit-transition-duration: 0.8s;
	transition-duration: 0.8s;
}

.information-dest .c1:hover{
	cursor: pointer;
	background: var(--csec);
	-webkit-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-webkit-box-shadow: 0px 10px 25px 0px rgba(0,240,255,0.35);
	-moz-box-shadow: 0px 10px 25px 0px rgba(0,240,255,0.35);
	box-shadow: 0px 10px 25px 0px rgba(0,240,255,0.35);
}
.information-dest .c1:hover h3{
	color: var(--nf);
	-webkit-transition-duration: 0.8s;
	transition-duration: 0.8s;
}

.information-dest .c2, .information-dest .c3{
	min-height: 169px;
	border: none;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	-webkit-box-shadow: 0px 10px 25px 0px rgba(173,173,173,0.35);
	-moz-box-shadow: 0px 10px 25px 0px rgba(173,173,173,0.35);
	box-shadow: 0px 10px 25px 0px rgba(173,173,173,0.35);
	padding-top: 5%;
	-webkit-transition-duration: 0.8s;
	transition-duration: 0.8s;
}

.information-dest .c2{
	margin-bottom: 30px;
}
.information-dest .c2 h3 strong{
	color: var(--cpri);
	font-weight: 900;
}
.information-dest .c2 h3, .information-dest .c3 h3{
	margin-top: 15px;
	font-weight: 600;
}

.information-dest .c2:hover, .information-dest .c3:hover{
	cursor: pointer;
	background: var(--csec);
	-webkit-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-webkit-box-shadow: 0px 10px 25px 0px rgba(0,240,255,0.35);
	-moz-box-shadow: 0px 10px 25px 0px rgba(0,240,255,0.35);
	box-shadow: 0px 10px 25px 0px rgba(0,240,255,0.35);
}
.information-dest .c2:hover strong{
	color: var(--nf);
}



.information-dest .servicios{
	padding-left: 60px;
}
.information-dest .servicios ul li{
	font-size: 18px;
	font-weight: 600;
	
}
.information-dest .servicios ul li a:link{
	text-decoration: none;
	position: relative;
	color: var(--nb);
}
.information-dest .servicios ul li a:visited{
	color: var(--nm);
}
.information-dest .servicios ul li a:hover{
	border-bottom: 4px solid var(--cpri);
	color: var(--cpri);
	padding-bottom: 10px;
}
.information-dest .servicios ul li img{
	margin-right: 20px;
}
.information-dest .servicios .esp{
	margin-top: 44px;
}

.information-dest .relle{
	display: none;
}

/* -----------seccion conoce doctor mora ------------ */

.conoce{
	min-height: 440px;
	background: url(../img/gbi.jpg) center center no-repeat;	
	background-size: cover;
	text-align: center;
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 80px;
	margin-top: 80px;
}
/* segunda imagen superpuesta en este caso un degradado*/
.conoce:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(214,10,65,0.79);
	background: -moz-linear-gradient(45deg, rgba(214,10,65,0.79) 0%, rgba(214,10,65,0.78) 0%, rgba(0,238,255,0.78) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(214,10,65,0.79)), color-stop(0%, rgba(214,10,65,0.78)), color-stop(100%, rgba(0,238,255,0.78)));
	background: -webkit-linear-gradient(45deg, rgba(214,10,65,0.79) 0%, rgba(214,10,65,0.78) 0%, rgba(0,238,255,0.78) 100%);
	background: -o-linear-gradient(45deg, rgba(214,10,65,0.79) 0%, rgba(214,10,65,0.78) 0%, rgba(0,238,255,0.78) 100%);
	background: -ms-linear-gradient(45deg, rgba(214,10,65,0.79) 0%, rgba(214,10,65,0.78) 0%, rgba(0,238,255,0.78) 100%);
	background: linear-gradient(45deg, rgba(214,10,65,0.79) 0%, rgba(214,10,65,0.78) 0%, rgba(0,238,255,0.78) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d60a41', endColorstr='#00eeff', GradientType=1 );
	mix-blend-mode: overlay; /* filtro superponer */

}
.conoce h3{
	display: block;
	color: #fff;
	font-weight: 300;
	font-size: 42px;
}
.conoce h3 strong{
	font-weight: 600;
}
.conoce a{
	display: inline-block;
	background: #fff;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	border-radius:50px;
	padding: 10px 30px;
	text-decoration: none;
	margin-top: 35px;
	color: var(--cpri);
	font-size: 18px;
	font-weight: 600;
	-webkit-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.conoce a:hover{
	background: var(--cpri);
	color: #fff;
	-webkit-box-shadow: 0px 10px 25px 0px rgba(244,12,72,0.35);
	-moz-box-shadow: 0px 10px 25px 0px rgba(244,12,72,0.35);
	box-shadow: 0px 10px 25px 0px rgba(244,12,72,0.35);
	text-decoration: none;
	-webkit-transition-duration: 0.8s;
	transition-duration: 0.8s;
}

/* ---------------- seccion reportes ----------------*/
.reportes{
	width: 100%;
	min-height: 600px;
	background: var(--nf);
	padding-top: 75px;
	padding-bottom: 40px;
	position: relative;
	overflow: hidden;
}
.reportes h2{
	font-size: 24px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 30px;
}
.reportes p{
	font-size: 16px;
	color: var(--nw);
	font-weight: 400;
}
.reportes .image{
	position: absolute;
	bottom: -45px;
	left: 0;
}
.reportes .information-r .card{
	background: var(--nm);
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	padding: 12px 12px 0px 12px;
}
.reportes .information-r .card h5{
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
}

.reportes .information-r{
	padding-top: 22px;
}
.reportes .information-r .card h5 img{
	margin-right: 20px;
}
.reportes .information-r .card ul li{
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	line-height: 35px;
	display: flex;
	align-items: center;
}
.reportes .information-r .card ul li span{
	height: 15px;
	width: 15px;
	display: inline-block;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	margin-right: 31px;
	margin-left: 10px;
}
.reportes .information-r .card ul li .red{
	background: #f40c48;
}
.reportes .information-r .card ul li .green{
	background: #36ff00;
}
.reportes .information-r .card ul li .yellow{
	background: #ffba00;
}
.reportes .information-r .card ul li strong{
	font-weight: 600;
	margin-right: 5px;
}

.reportes .information-r .reportar{
	display: flex;
	align-items: center;
	justify-content: center;
}


.reportes .information-r .reportar .linkre a:link{
	margin-bottom: 40px;
	color: var(--csec);
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	border-bottom: 2px solid transparent;
}
.reportes .information-r .reportar .linkre a:hover{
	border-bottom: 2px solid var(--csec);
}
.reportes .information-r .reportar .linkre a:visited{
	color: var(--csec);
	
}
.reportes .information-r .reportar .linkve a:link{
	color: var(--cpri);
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	border-bottom: 2px solid transparent;
}
.reportes .information-r .reportar .linkve a:hover{
	border-bottom: 2px solid var(--cpri);
}
.reportes .information-r .reportar .linkve a:visited{
	color: var(--cpri);	
}

/* ------ seccion dudas ----------- */
.dudas{
	min-height: 500px;
	width: 100%;
	padding: 100px 0;
}
.dudas h5{
	font-size: 24px;
	font-weight: 900;
	color: var(--nf);
	font-style: italic;
}
.dudas p{
	font-size: 16px;
	color: var(--nb);
	line-height: 30px;
	font-weight: 400;
}
.dudas p span{
	color: var(--cpri);
	font-weight: 600;
}
.dudas a:link{
	background: var(--csec);
	font-size: 18px;
	font-weight: 600;
	padding: 8px 35px;
	margin-bottom: 30px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0px 10px 25px 0px rgba(0,240,255,0.35);
	-moz-box-shadow: 0px 10px 25px 0px rgba(0,240,255,0.35);
	box-shadow: 0px 10px 25px 0px rgba(0,240,255,0.35);
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	border-radius:50px;
	color: #fff;
	-webkit-transition-duration: 0.8s;
	transition-duration: 0.8s;
	
}
.dudas a:visited{
	color: #fff;
}
.dudas a:hover{
	background: var(--cpri);
	color: #fff;
	-webkit-box-shadow: 0px 10px 25px 0px rgba(244,12,72,0.35);
	-moz-box-shadow: 0px 10px 25px 0px rgba(244,12,72,0.35);
	box-shadow: 0px 10px 25px 0px rgba(244,12,72,0.35);
	-webkit-transition-duration: 0.8s;
	transition-duration: 0.8s;
}



.dudas .people{
	display: flex;
	align-items: center;
	text-align: center;
}


/* --------- seccion dyxer ------------*/
.dyxer{
	height: auto;
	width: 100%;
	padding: 100px 0;
	background: #fafafa;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.dyxer h6{
	font-size: 16px;
	font-weight: 600;
}
.dyxer h6 span{
	color: var(--cpri);
}

/* ----------- footer ------------*/
.pie{
	min-height: 100px;
	width: 100%;
	background: var(--nf);
	text-align: center;
	display: flex;
	align-items: center;
	padding: 40px 0px;
}
.pie h6{
	color: #fff;
}
.pie .corazon{
  display: inline-block;
  position: relative;
  margin-bottom: -3px;
  -webkit-animation: pulse 1.5s infinite ease-in-out;
  -moz-animation: pulse 1.5s infinite ease-in-out;
  animation: pulse 1.5s infinite ease-in-out;

}

@-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(0.8);
      }
    50% {
      -webkit-transform: scale(1);
      }
    100% {
      -webkit-transform: scale(0.8);
      }
  }




  @-moz-keyframes pulse {
    0% {
      -moz-transform: scale(0.8);
      }
    50% {
      -moz-transform: scale(1);
      }
    100% {
      -moz-transform: scale(0.8);
      }
  }














/* --------------------------------------------- diseño responsivo -----------------------------------------------*/

@media screen and (max-width: 1199px){
	
	.tarjetas-r-c .card {
    	min-width: 200px;
		min-height: 170px;
	}
	.tarjetas-r-c .card img{
		width: 50px;
	}
	.tarjetas-r-c .card h3{
		font-size: 16px;
	}
	
	/*---- informacion destacada -----*/
	
	.information-dest .c1 h3 {
		margin-bottom: 16px;
	}
	
	
	
}	

@media screen and (max-width: 991px){
	/* ---- estilos banner -------------*/
	.banner{
		min-height:350px;

	}
	
	/*---- estilos tarjetas rapidas ------*/
	.tarjetas-r h2 {
		font-size: 18px;
	}
	
	.tarjetas-r-c .card {
    	min-width: 160px;
		min-height: 160px;
		padding-top: 20px;
	}
	.tarjetas-r-c .card img{
		width: 50px;
	}
	.tarjetas-r-c .card h3{
		font-size: 14px;
	}
	
	/*------------- seccion eventos ------------*/
	.eventos .eventos-card{
		height: 300px;
	}
	
	/*-------- seccion informacion destacada -------*/
	.information-dest .gobierno{
		height: 100%;
	}
	.information-dest .c1 h3 {
		margin-bottom: 0;
	}
	
	.information-dest {
		padding-top: 60px;
	}
	
	.information-dest .servicios{
		padding-left: 2.5%;
		padding-top: 80px;
	}
	.information-dest .servicios ul li{
		padding-left: 5%;
		border-radius: 10px;
		padding-top: 15px;
		padding-bottom: 15px;
		border: 1px solid #e5e5e5;
		-webkit-box-shadow: 0px 0px 25px 0px rgba(173,173,173,0.15);
		-moz-box-shadow: 0px 0px 25px 0px rgba(173,173,173,0.15);
		box-shadow: 0px 0px 25px 0px rgba(173,173,173,0.15);
	}
	.information-dest .servicios ul li:nth-child(1){
		border-left: 6px solid #00D3E5;
		
	}
	.information-dest .servicios ul li:nth-child(2){
		border-left: 6px solid #05C01B;
	}
	.information-dest .servicios ul li:nth-child(3){
		border-left: 6px solid #393939;
	}
	.information-dest .servicios ul li:nth-child(4){
		border-left: 6px solid #FF0251;
	}
	.information-dest .servicios .esp{
		margin-top: 20px;
	}
	
	
	/*---- seccion conoce -----------*/
	
	.conoce{
		min-height: 300px;
		margin-top: 0;
	}
	
	.conoce h3 {
		font-size: 36px;
	}
	
	/*----- seccion reportes ---*/
	.reportes .image{
		display: none;
	}
	
	
	/*---- seccion dudas ---*/
	.dudas {
		padding: 80px 0;
	}
	.dudas .people{
		text-align: center;
		display: flex;
		justify-content: center;
	}
	.dudas .people img{
		width: 400px;
		margin-top: 5%;	
	}
	
	/* --- seccion dyxer ----*/
	
	.dyxer{
		padding: 50px 0;
	}
	.dyxer h6{
		font-size: 14px;
		font-weight: 600;
	}
	.dyxer img{
		width: 200px;
	}
	
	/*--- seccion pie ---*/
	.pie h6 {
		font-size: 14px;
	}

	
}

@media screen and (max-width: 767px){
	/* ---- estilos banner -------------*/
	.banner{
		text-align: center;
	}
	.banner img{
		width:250px;

	}
	
	/*---- estilos tarjetas rapidas ------*/
	.tarjetas-r {
		padding-top: 60px;
		padding-bottom: 80px;
	}
	
	.tarjetas-r .paff{
		padding-left: 5%;
		padding-right: 5%;
	}
	.tarjetas-r h2{
		text-align: center !important;
		margin-left: auto;
		margin-right: auto;
	}
	.tarjetas-r-c .card {
    	min-width: 120px;
		min-height: 120px;
		padding-top: 15px;
	}
	.tarjetas-r-c .card img{
		width: 40px;
	}
	.tarjetas-r-c .card h3{
		font-size: 12px;
	}
	.tarjetas-r-c .card span{
		display: none;
	}
	.tarjetas-r-c .card .etiqueta-empleos-1{
		display: none;
	}
	.tarjetas-r-c .card .etiqueta-empleos-2{
		display: block;
	}
	
	/*---------------- seccion eventos ------------------*/
	
	.eventos {
		padding-top: 30px;
		padding-bottom: 40px;
	}
	
	.eventos .eventos-card .infor-eve h4{
		font-size: 24px;
		font-weight: 600;

		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	.eventos .eventos-card .infor-eve p{
		margin-right: 20%;
		font-size: 14px;

	}
	.eventos .eventos-card .infor-eve span{
		font-size: 16px;
	}
	
	/* -------- 2 tarjetas ---- */
	.eventos .owl-carousel .tar-eve{
		height: 200px;
		width: 250px;
		
	}
	
	
	
	/* ---- seccion informacion destacada */
	
	.information-dest {
		padding-top: 30px;
	}
	
	.information-dest img{
		width: 50px;
	}
	.information-dest .gobierno img{
		width: 120px;
	}
	
	.information-dest .c2, .information-dest .c3 {
		min-height: auto;
		padding-top: 0;
		
	}
	.information-dest .c1 h3, .information-dest .c2 h3, .information-dest .c3 h3{
		font-size: 12px;
	}
	
	
	
	.information-dest .servicios{
		
		padding-top: 60px;
	}
	.information-dest .servicios ul li {
		font-size: 14px;
	}
	
	/*-------- titulos sin icono ----------*/
	
	.tarjetas-r h2 img, .eventos h2 img, .information-dest h2 img, .reportes h2 img{
		display: none;
	}
	.tarjetas-r h2, .eventos h2, .information-dest h2, .reportes h2{
		font-weight: 900;
		font-style: italic;
	}
	
	
	/* ----- seccion conoce ---------*/
	.conoce{
		min-height: 200px;
		margin-top: 0;
	}
	
	.conoce h3 {
		font-size: 28px;
	}
	
	
	.conoce a {
		margin-top: 20px;
		font-size: 12px;
	}
	
	
	/*---- seccion reportes -----*/
	.reportes .information-r .card ul li {
		font-size: 14px;
		
	}
	/*--- dudas ----*/
	
	.dudas .people img{
		display: none;	
	}
	
	
	
}





@media screen and (max-width: 575px){
	
	/* ---- estilos banner -------------*/
	.banner{
		height: 100vh;
		margin: auto;
		display: flex;
		align-content: center;
		justify-content: center;
		align-items: center;
	}
	.banner h1{
		font-size: 48px;
	}
	.banner p{
		font-size: 16px;
		margin-left: 5%;
		margin-right: 5%;
	}
	
	.banner .persona{
		display: none;
	}
	/*---- estilos tarjetas rapidas ------*/
	.tarjetas-r {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.tarjetas-r p {
		font-size: 16px;
	}
	.tarjetas-r-c{
		justify-content: space-around;
	}
	.tarjetas-r-c .card {
    	min-width: 120px;
		min-height: 100px;
		padding-top: 10px;
	}

	.eventos .eventos-card .infor-eve p{
		margin-right: 0;
		
	}
	
	/* -- informacion destacada ---*/
	.information-dest .c1 {
		
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.information-dest img{
		width: 60px;
	}
	
	.information-dest .gobierno img {
		width: 60px;
	}
	
	.information-dest .numeros{
		display: flex;
		justify-content: space-between;
	}
	
	.information-dest .c2, .information-dest .c3{
		width: 48%;
	}
	
	.information-dest .c2 {
		margin-top: 30px;
		
	}
	.information-dest .c3 {
		margin-bottom: 30px;
		margin-top: 30px;	
	}
	
	.information-dest .servicios{
		
		padding-top: 20px;
	}
	
	/* ----- estilos para los titulos de tarjetas rapidas eventos informacion destacada y reportes ---*/
	.tarjetas-r h2, .eventos h2, .information-dest h2, .reportes h2{
		font-size: 20px;
	}
	
	/*  --- seccion dudas ---*/
	/*---- seccion dudas ---*/
	.dudas {
		padding: 60px 4%;
	}
	.dudas h5 {
		font-size: 18px;
	}
	.dudas p {
		font-size: 14px;
	}
	
	/* --- seccion pie ----*/
	.pie h6 {
		font-size: 12px;
	}
	
	
}

@media screen and (max-width: 540px){
	/*---- estilos tarjetas rapidas ------*/
	.tarjetas-r p {
		font-size: 18px;
		
	}
	.tarjetas-r-c .card {
    	min-width: 100px;
		min-height: 60px;
		padding-top: 5px;
	}
	
	.tarjetas-r-c .card h3{
		font-size: 12px;
	}
	
	
}


@media screen and (max-width: 490px){
	/*---- estilos tarjetas rapidas ------*/
	.tarjetas-r-c{
		justify-content: center;
	}
	.tarjetas-r-c .card {
    	min-width: 180px;
		min-height: 150px;
		padding-top: 15px;
		margin-bottom: 4%;
		margin-left: 2%;
		margin-right: 2%;
	}
	.tarjetas-r-c .card img{
		width: 60px;
	}
	
	.tarjetas-r-c .card h3{
		font-size: 12px;
	}
	
	
	/* ---- seccion enventos ---*/
	.eventos .eventos-card{
		height: 200px;
		
	}
	.eventos .eventos-card .infor-eve h4{
		font-size: 20px;
		
	}
	.eventos .eventos-card .infor-eve p{
		display: none;
		
	}
	.eventos .eventos-card .infor-eve span{
		font-size: 12px;
		
	}
	
	.eventos .eventos-card .infor-eve h4, .eventos .eventos-card .infor-eve span{
		display: inline-block;
		
	}
	
}


@media screen and (max-width: 440px){
	/*---- carusel ------*/
	
	.eventos .carousel-control-prev, .eventos .carousel-control-next{
		display: none;
	}
	
}

@media screen and (max-width: 434px){
	.tarjetas-r-c .card {
    	min-width: 160px;
		
	}
}

@media screen and (max-width: 384px){
	
	/* ---- seccion enventos ---*/
	.eventos .eventos-card{
		height: 180px;
		
	}
	.eventos .eventos-card .infor-eve h4{
		font-size: 16px;
	}
	
	/*---- seccion conoce ---*/
	.conoce h3 {
		font-size: 24px;
	}
	.conoce a {
		margin-top: 10px;
	}
	
	
}


@media screen and (max-width: 348px){
	.tarjetas-r-c .card {
    	min-width: 140px;
		
	}
}



@media screen and (max-width: 344px){
	/*---- estilos tarjetas rapidas ------*/
	.tarjetas-r-c{
		justify-content: center;
	}
	.tarjetas-r-c .card {
		min-height: 100px;
		padding-top: 10px;
		margin-bottom: 4%;
		margin-left: 2%;
		margin-right: 2%;
	}
	.tarjetas-r-c .card img{
		width: 35px;
	}
	
	.tarjetas-r-c .card h3{
		font-size: 12px;
	}
	
	
	/*---- informacion destacada ----*/
	.information-dest img {
		width: 35px;
	}
	
}

@media screen and (max-width: 329px){
	.pie h6 {
		font-size: 11px;
	}
	
}

@media screen and (max-width: 304px){
	.tarjetas-r-c .card {
		min-width: 120px;
	}
}

@media screen and (max-width: 260px){
	
	.banner h1 {
		font-size: 32px;
	}
	
	.tarjetas-r-c .card {
		min-width: 100px;
	}
}

@media screen and (max-width: 225px){
	.tarjetas-r-c .card {
		min-width: 150px;
	}
}